{% extends 'base.html' %} {% block content%}


  <h1>Unit View</h1>

  <div class="card">
    <table class="unitlist">
      <tr>
        <th>Unit ID</th>
        <th>Expires</th>
      </br>
        <th>ABO/D</th>
        <th>C</th>
        <th>Cw</th>
        <th>E</th>
        <th>c</th>
        <th>e</th>
        <th>K</th>
        <th>k</th>
        <th>Kpa</th>
        <th>Kpb</th>
        <th>Jsa</th>
        <th>Jsb</th>
        <th>Fya</th>
        <th>Fyb</th>
        <th>Fy3</th>
        <th>Jka</th>
        <th>Jkb</th>
        <th>Jk3</th>
        <th>Dia</th>
        <th>Dib</th>
        <th>Wra</th>
        <th>Wrb</th>
        <th>Lea</th>
        <th>Leb</th>
        <th>M</th>
        <th>N</th>
        <th>S</th>
        <th>s</th>
        <th>U</th>
     
      </tr>
      <tr>
        <td>{{ unit.unit_id }}</td>
        <td>{{ unit.date }}</td>
      </br>
        <td>{{ unit.ABO }} {{ unit.D }}</td>
        <td>{{ unit.C }}</td>
        <td>{{ unit.Cw }}</td>
        <td>{{ unit.E }}</td>
        <td>{{ unit.c }}</td>
        <td>{{ unit.e }}</td>
        <td>{{ unit.K }}</td>
        <td>{{ unit.k }}</td>
        <td>{{ unit.Kpa }}</td>
        <td>{{ unit.Kpb }}</td>
        <td>{{ unit.Jsa }}</td>
        <td>{{ unit.Jsb }}</td>
        <td>{{ unit.Fya }}</td>
        <td>{{ unit.Fyb }}</td>
        <td>{{ unit.Fy3 }}</td>
        <td>{{ unit.Jka }}</td>
        <td>{{ unit.Jkb }}</td>
        <td>{{ unit.Jk3 }}</td>
        <td>{{ unit.Dia }}</td>
        <td>{{ unit.Dib }}</td>
        <td>{{ unit.Wra }}</td>
        <td>{{ unit.Wrb }}</td>
        <td>{{ unit.Lea }}</td>
        <td>{{ unit.Leb }}</td>
        <td>{{ unit.M }}</td>
        <td>{{ unit.N }}</td>
        <td>{{ unit.S }}</td>
        <td>{{ unit.s }}</td>
        <td>{{ unit.U }}</td>
        
      </tr>
    </table>
    
     
      <p>Location: {{unit.location}}</p>
      <p>Shelf: {{unit.shelf}}</p>
      <p>Entered by: {{unit.user}}</p>
    </a>
  </div>
  <form action="{% url 'edit_unit' unit.id %}">
    <input type="submit" value="Edit Details">
  </form>
  <form action="{% url 'delete_unit' unit.id %}">
    <input type="submit" value="Remove from Inventory">
  </form>
  

{% endblock %}  