{% extends 'base.html' %} {% block content%}


  <h1>Unit View</h1>

  <div class="card">
    <table>
      <tr>
        <th>Unit ID</th>
      </br>
        <th>ABO/D</th>
        <th>Location</th>
        <th>Shelf</th>
      </tr>
      <tr>
        <td>{{ unit.unit_id }}</td>
      </br>
        <td>{{ unit.ABO }} {{ unit.D }}</td>
        <td>{{ unit.location}}</td>
        <td>{{ unit.shelf}}</td>
      </tr>
    </table>
    
     
      <p>Location: {{unit.location}}</p>
      <p>Shelf: {{unit.shelf}}</p>
    </a>
  </div>
  <a href="{% url 'edit_unit' unit.id %}">Edit Details</a>
  <a href="{% url 'delete_unit' unit.id %}">Remove from Inventory</a>

{% endblock %}  