{% extends 'base.html' %} {% block content%}


  <h1>List of Units</h1> {{ form }}
  {% for unit in units %}
  
  <table>
    
      <tr>
        <th>Unit ID</th>
      </br>
        <th>ABO/D</th>
        <th>Location</th>
        <th>Shelf</th>
      </tr>
      <tr>
        <td><a href="/units/{{unit.id}}">{{ unit.unit_id }}</a></td>
      </br>
        <td>{{ unit.ABO }} {{ unit.D }}</td>
        <td>{{ unit.location}}</td>
        <td>{{ unit.shelf}}</td>
      </tr>
    
  </table>
  </a>
  <!-- <div class="card">
    
      <p>Unit ID: {{unit.unit_id}}</p>
      <p>ABO: {{unit.ABO}}</p>
      <p>D: {{unit.D}}</p>
      <p>Location: {{unit.location}}</p>
      <p>Shelf: {{unit.shelf}}</p>
    </a>
  </div> -->
  {% endfor %}


{% endblock %} 