{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rare Cell Iventory Manager</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"  type="text/css"> 
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}"  type="text/css"> 
</head>
<body>

  <header>
    <nav>
      <div class="headertext">
      <h1 class="headerheader" > Rare Cell Inventory Manager</h1>
      <h3> SEI Labs</h3>
    </div>

    </nav>
    <nav>
      <ul class="navbar">
        <li class="navitem"><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li class="navitem"><a href="/units">View Inventory</a></li>
        <li class="navitem"><a href="{% url 'add_unit' %}">Add a Unit</a></li>
        <li class="navitem"><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li class="navitem"><a href="{% url 'signup' %}">Sign Up</a></li>
        <li class="navitem"><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main class="container">{% block content %} {% endblock %}</main>  
</body>
</html>